filebeat.inputs:
- type: log
  enabled: true
  paths:
    - /var/log/nginx/access.log
    - /var/log/nginx/error.log

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

setup.kibana:
  host: "{{ hostvars[groups['kibana'] | first].inventory_hostname }}:5601"

output.elasticsearch:
  hosts: ["{{ hostvars[groups['elastic'] | first].inventory_hostname }}:9200"]

setup.template.settings:
  index.number_of_shards: 1

setup.dashboards.enabled: true

processors:
  - add_host_metadata:
      when.not.contains.tags: forwarded
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_kubernetes_metadata: ~
